<ion-content style="--background: none transparent;">            
  <ion-card>
      <img src="../../assets/img/qrscanner.png" alt="" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;">  
      <ion-card-content style="text-align: center">        
        <ion-row>
          <ion-col>
              <ion-button shape="round" color="#67923d" fill="outline" (click)="qrscanner()"><ion-icon name="aperture"></ion-icon> Explorar</ion-button>        
          </ion-col>
          <ion-col>
              <ion-button shape="round" color="#67923d" fill="outline"><ion-icon name="arrow-back"></ion-icon> Regresar</ion-button>
          </ion-col>
        </ion-row>        
      </ion-card-content>
    </ion-card>
</ion-content>
