<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row style="text-align: center !important; display: block; margin: auto;">
            <ion-col size="6">
                <img src="../../../assets/img/guia.png" alt="" style="width: 10%;">
                <strong style="font-size: 170%;">GUÍA</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <img src="../../../assets/img/v7.png" alt="" style="width: 90%;">
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <h6><strong>CiberBullying</strong></h6>
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <p>______________________________</p>
      </ion-row>
  
      <ion-row>
        <p style="text-align: justify;" padding>En el ciberbullying es frecuente que se utilice Internet y las redes sociales para publicar información acerca de una persona o grupo de personas con el afán de ridiculizar o humillar. Es uno de los tipos de violencia cuyo alcance es difícil de precisar, porque el número de personas potencialmente capaces de ver este tipo de contenidos estigmatizantes es muy elevado.</p>
      </ion-row>
  
      <ion-row>
        <ion-col size="6">
          <img src="../../../assets/img/bullying.png" alt="" style="margin-top: 50%;">
        </ion-col>
        <ion-col size="6">
          <h6>Consejos ante esta situación</h6>
          
          <p>No respondas o tomes represalias. En algunas ocasiones es peor que reacciones, porque justamente es eso lo que el agresor está buscando. Es una manera de que le hagas pensar que tiene poder sobre ti y no debería creerlo. Si respondes y atacas a un bully, puede ser el detonante de que te conviertas tú en uno, y provocar toda una cadena de reacciones ante un acto que en principio era significativo. </p>
          <p>Guarda las evidencias. Lo único bueno sobre el ciberacoso es que el acto suele ser capturado, almacenado y mostrado a alguien que puede ayudarte. Puedes guardar las evidencias en caso de que las cosas empeoren.</p>
          <p>Busca nuevos amigos..</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
