<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row style="text-align: center !important; display: block; margin: auto;">
            <ion-col size="6">
                <img src="../../../assets/img/guia.png" alt="" style="width: 10%;">
                <strong style="font-size: 170%;">GUÍA</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <img src="../../../assets/img/v4.png" alt="" style="width: 50%;">
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <h6><strong>Violencia Verbal</strong></h6>
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <p>______________________________</p>
      </ion-row>
  
      <ion-row>
        <p style="text-align: justify;" padding>La violencia verbal es aquella en la que se pretende dañar a la otra persona es un mensaje o un discurso. Puede (o no) contener insultos o palabras tabú, ya que para producir malestar psicológico no es esencial utilizar esa clase de recursos.

            Además de producir ansiedad, este tipo de violencia puede dañar la autoestima de las personas y su imagen pública.</p>
      </ion-row>
  
      <ion-row>
        <ion-col size="6">
          <img src="../../../assets/img/bullying.png" alt="" style="margin-top: 50%;">
        </ion-col>
        <ion-col size="6">
          <h6>Consejos ante esta situación</h6>
          
          <p>En primer lugar, lo que debes hacer es mantenerte bien informada. Si en tu pareja hay violencia verbal, entonces ambos tienen un problema.</p>
          <p>Es probable que él sea un hombre agresivo, pero además tú estás tolerando esta conducta de su parte: es probable que tu autoestima esté demasiado baja como para poder enfrentarlo o alejarte de esa situación.</p>
          <p>Y para lograrlo, necesitarás ayuda de tu familia, de tus amigos y de un profesional. Seguro que te vendrá bien consultar un psicólogo que te ayude a salir de este problema.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
