<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-grid>
        <ion-row style="text-align: center !important; display: block; margin: auto;">
          <ion-col size="6">
              <img src="../../../assets/img/guia.png" alt="" style="width: 10%;">
              <strong style="font-size: 170%;">GUÍA</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="text-align: center !important; display: block; margin: auto;">
      <img src="../../../assets/img/v8.png" alt="" style="width: 50%;">
    </ion-row>

    <ion-row style="text-align: center !important; display: block; margin: auto;">
      <h6><strong>Bullying</strong></h6>
    </ion-row>

    <ion-row style="text-align: center !important; display: block; margin: auto;">
      <p>______________________________</p>
    </ion-row>

    <ion-row>
      <p style="text-align: justify;" padding>El acoso escolar (también conocido como hostigamiento escolar, montaje escolar, maltrato escolar o en ingles bullying) es cualquier forma de maltrato psicológico, verbal o físico producido entre estudiantes de forma reiterada o lo largo de un tiempo determinado tanto en el aula, como através de las redes sociales, con el nombre especifico de ciberacoso.)</p>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/img/bullying.png" alt="" style="margin-top: 50%;">
      </ion-col>
      <ion-col size="6">
        <h6>Consejos ante esta situación</h6>
        
        <p>Comunicate con tus compañeros. Si demuestra que tienes miedo a los acosadores solo empeorarás la situacipon</p>
        <p>Mantener su autoestima alta. las víctimas de acoso escolar suelen ser jovenes con problemas de autoestima</p>
        <p>Busca nuevos amigos..</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
