<ion-header>
  <ion-toolbar class="menu">
      <ion-buttons slot="start">
        <ion-menu-button menuToggle="rightMenu"></ion-menu-button>
      </ion-buttons>
      <ion-button style="float: right !important; color:#f2b632" expand="block" shape="round" fill="outline" class="boton" color="#67923d" (click)="presentActionSheet()">Información del Mapa</ion-button>
      
    </ion-toolbar>
    
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%; margin:0"></div>
</ion-content>
