<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <img src="../../../assets/img/usuario.png" style="width: 60%; display: block; margin: auto;">
    </ion-row>
    
    <ion-row style="text-align: center !important; display: block; margin: auto; margin-top: -20%;">
      <h5 style="text-align: center;">INICIAR SESIÓN</h5>
    </ion-row>
    <br><br><br>

    <!--Contruccion de label eh input-->

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="apellido" name="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Cédula</ion-label>
            <ion-input type="text" [(ngModel)]="cedula" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Describe tu situación</ion-label>
            <ion-textarea type="text" [(ngModel)]="descrip" name="name"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Distrito (Ejemp: Distrito 1)</ion-label>
            <ion-input type="text" [(ngModel)]="distrito" name="name"></ion-input>
        </ion-item>    
      </ion-col>
    </ion-row>
    <br>
    <ion-button expand="block" shape="round" fill="outline" class="boton" color="#67923d" (click)="OnSudmitRegister()">Registrarse</ion-button>
    <a style="text-align: center;" (click)="login()"><h5>Iniciar Sesión</h5></a>
  </ion-grid>
</ion-content>
