<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row style="text-align: center !important; display: block; margin: auto;">
            <ion-col size="6">
                <img src="../../../assets/img/guia.png" alt="" style="width: 10%;">
                <strong style="font-size: 170%;">GUÍA</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <img src="../../../assets/img/v1.png" alt="" style="width: 50%;">
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <h6><strong>Violencia Familiar</strong></h6>
      </ion-row>
  
      <ion-row style="text-align: center !important; display: block; margin: auto;">
        <p>______________________________</p>
      </ion-row>
  
      <ion-row>
        <p style="text-align: justify;" padding>
            La violencia familiar o doméstica es un tipo de abuso que se presenta cuando uno de los integrantes de la familia incurre, de manera deliberada, en maltratos a nivel físico o emocional hacia otro.
            
            La violencia familiar ocurre generalmente en el entorno doméstico, aunque también pueden darse en otro tipo de lugares, siempre y cuando se encuentren involucradas a dos personas emparentadas por consanguinidad o afinidad.</p>
      </ion-row>
  
      <ion-row>
        <ion-col size="6">
          <img src="../../../assets/img/bullying.png" alt="" style="margin-top: 50%;">
        </ion-col>
        <ion-col size="6">
          <h6>Consejos ante esta situación</h6>
          
          <p>Solicitar asistencia por teléfono

              Todas las mujeres tiene a su disposición el teléfono gratuito 118. Este está operativo los 365 días del año durante las 24 horas y no deja rastro en la factura, por lo que nadie sabrá que han llamado al revisarla. En caso de que la llamada se produzca en una situación de peligro inmediato, el equipo de profesionales que operan allí derivan la llamada </p>
          <p>Denuncia la Agresión

              Las denuncias son las armas principales para combatir el maltrato a la mujer. Por ello, es importante que, tras conseguir el parte de lesiones, se acuda al cuartel de la Guardia Civil, a la comisaría o al juzgado más cercano para interponer la correspondiente. Allí tendrá que contar todo lo sucedido e identificar al agresor. </p>
          <p>Busca a autoridades..</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
