<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button style="float: right !important; margin-right: 10%;" color="danger">
          <p><a href="tel:118" style="text-decoration: none; color: white;">SOS</a></p>
        </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/logo2.png" alt="">

  <ion-grid>
    <ion-row style="text-align: center !important; display: block; margin: auto;">
      <h4> <strong> BIENVENIDOS </strong></h4>
      <h6>DESCUBRE UNA GUIA DIGITAL PARA LA <br> PREVENCIÓN CONTRA LA VIOLENCIA</h6>
    </ion-row>

    <ion-row>
      <p style="text-align: justify;" padding>BeeSafe, es una alplicación que ayuda a la prevencion, mitigación y pronta respuesta ante la violencia, consta con una guía digital para la prevención y mitigación contra la violencia, de igual manera se organizaran grupos de ciudadanos, apoyandose en lideres comunitarios para dar ayuda a las victimas y posible victimas de violencia, en comunidades y barrios del municipio de Estelí, donde esta daran aviso, los usuarios de la app tendrán acceso.</p>
    </ion-row>
  </ion-grid>
</ion-content>
